{% extends 'base.html' %}

{% load i18n %}

{% block content %}
<ul class="messages">
    {% for error in form.non_field_errors %}
    <div class="callout alert">
        <p>{{ error }}</p>
    </div>
    {% endfor %}
</ul>
{% blocktrans %} Do you really want to delete {{ identifier }}?{% endblocktrans %}

<form method="POST">
    {% csrf_token %}
    {{ form.identifier }}
    <button type="submit" class="button alert" name="confirm" value="true" autofocus>{% trans "yes" context 'delete dialog' %}</button>
    <button type="submit" class="button success" name="confirm" value="false">{% trans "no" context 'delete dialog' %}</button>
</form>
{% endblock %}
