<nav aria-label="Pagination">
    <ul class="pagination text-center" role="navigation" aria-label="Pagination">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ objects.previous_page_number }}" aria-label="Previous page">
            Previous <span class="show-for-sr">page</span>
        </a></li>
        {% else %}
        <li class="disabled">Previous <span class="show-for-sr">page</span></li>
        {% endif %}

        {% for p in paginator.page_range %}
        {% if p == page_obj.number %}
        <li class="current"><span class="show-for-sr">You're on page</span> {{ page_obj.number }}</li>
        {% elif p|add:"-3" <= page_obj.number and page_obj.number <= p|add:"3" %}
        <li><a href="?page={{ p }}" aria-label="Page {{ p }}">{{ p }}</a></li>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <li><a href="?page={{ object_list.next_page_number }}" aria-label="Next page">
            Next <span class="show-for-sr">page</span>
        </a></li>
        {% else %}
        <li class="disabled">Next <span class="show-for-sr">page</span></li>
        {% endif %}
    </ul>
</nav>
