{% extends 'base.html' %}

{% block content %}
<form method="GET">{{ search_form.as_p }}</form>
<table>
    <thead>
        <tr>
            <th width="200">Type</th>
            <th width="200">Name</th>
            <th width="200">Content</th>
            <th width="200">TTL</th>
        </tr>
    </thead>
    <tbody>
        {% for rr in objects %}
        <tr>
            <td>{{ rr.type }}</td>
            <td>{{ rr.name }}</td>
            <td>{{ rr.content }}</td>
            <td>{{ rr.ttl }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include "common/pagination.html" %}
{% endblock %}
