{% extends 'base.html' %}
{% load deleteconfirm %}
{% load rules %}
{% load permhelpers %}
{% load i18n %}

{% block content %}
<div class="grid-x grid-margin-x">
    <form method="GET" class="cell small-12 medium-10">{{ search_form.as_p }}</form>
    <a
        href="{% url 'zoneeditor:zone_record_create' zone=zone %}"
        class="button success cell align-self-bottom small-12 medium-2"
        {% btn_perm 'tenants.create_record' request.user zone_name %}
    >
        {% trans 'Create Record' %}
    </a>
</div>
<table class="zoneeditor">
    <thead>
        <tr>
            <th width="200">{% trans 'Type' %}</th>
            <th width="200">{% trans 'Name' %}</th>
            <th width="200">{% trans 'Content' %}</th>
            <th width="200">{% trans 'TTL' %}</th>
            <th width="200"></th>
        </tr>
    </thead>
    <tbody>
        {% for rr in object_list %}
        <tr>
            <td>{{ rr.rtype }}</td>
            <td>{{ rr.name }}</td>
            <td>{{ rr.content }}</td>
            <td>{{ rr.ttl }}</td>
            <td>
                <form action="{% url 'zoneeditor:zone_record_edit' zone=zone_name %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="identifier" value="{{ rr|sign }}">
                    <button type="submit" class="button tiny warning" {% btn_perm 'tenants.edit_record' request.user zone_name %}>{% trans 'edit' %}</button>
                </form>
                <form action="{% url 'zoneeditor:zone_record_delete' zone=zone_name %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="identifier" value="{{ rr|sign }}">
                    <button type="submit" class="button tiny alert" {% btn_perm 'tenants.delete_record' request.user zone_name %}>{% trans 'delete' %}</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include "common/pagination.html" %}
{% endblock %}
