{% extends 'base.html' %}
{% load deleteconfirm %}
{% load permhelpers %}
{% load i18n %}

{% block content %}
<div class="grid-x">
    {% include "common/search.html" %}
    <div class="cell auto"></div>
    <a
        href="{% url 'zoneeditor:zone_create' %}"
        class="button success cell align-self-bottom small-12 medium-2"
        {% btn_perm 'tenants.create_zone' request.user %}
    >
        {% trans 'Create Zone' %}
    </a>
</div>
<table class="zoneeditor">
    <thead>
        <tr>
            <th>{% trans 'Name' %}</th>
            <th width="200"></th>
        </tr>
    </thead>
    <tbody>
        {% for zone in object_list %}
        <tr>
            <td>
                <a href="{% url 'zoneeditor:zone_detail' zone=zone.name %}">{{ zone.name }}</a>
            </td>
            <td>
                <form action="{% url 'zoneeditor:zone_delete' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="identifier" value="{{ zone.name|sign }}">
                    <button type="submit" class="button tiny alert" {% btn_perm 'tenants.delete_zone' request.user zone %}>{% trans 'delete' %}</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include "common/pagination.html" %}
{% endblock %}
