{% extends 'base.html' %}
{% load deleteconfirm %}
{% load permhelpers %}

{% block content %}
<div class="grid-x grid-margin-x">
    <form method="GET" class="cell small-12 medium-10">{{ search_form.as_p }}</form>
    <a
        href="{% url 'zoneeditor:zone_create' %}"
        class="button success cell align-self-bottom small-12 medium-2"
        {% btn_perm 'tenants.create_zone' request.user %}
    >
        Create Zone
    </a>
</div>
<table class="zoneeditor">
    <thead>
        <tr>
            <th>Name</th>
            <th width="200"></th>
        </tr>
    </thead>
    <tbody>
        {% for zone in objects %}
        <tr>
            <td>
                <a href="{% url 'zoneeditor:zone_detail' zone=zone.name %}">{{ zone.name }}</a>
            </td>
            <td>
                <form action="{% url 'zoneeditor:zone_delete' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="identifier" value="{{ zone.name|sign }}">
                    <button type="submit" class="button tiny alert" {% btn_perm 'tenants.delete_zone' request.user zone %}>delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include "common/pagination.html" %}
{% endblock %}
