{% extends "account/base.html" %}

{% load i18n %}
{% load foundation_formtags %}
{% load account socialaccount %}

{% block content %}
{% get_providers as socialaccount_providers %}
<div class="grid-x grid-margin-x">

{% if socialaccount_providers %}
<p class="cell small-12">{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>
{% else %}
<p class="cell small-12">{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<form class="cell small-12 medium-6" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|as_foundation }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <br>
  <button class="button" type="submit">{% trans "Sign In" %}</button>
</form>

{% if socialaccount_providers %}
<div class="socialaccount_ballot cell small-12 medium-6">
  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>
</div>
{% endif %}

</div>
{% endblock %}
