{% load static %}
{% load i18n %}

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="{% static 'vendor/foundation.min.css' %}">
<link rel="stylesheet" href="{% static 'vendor/fork-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'style/zoneeditor.css' %}">
<script src="{% static 'vendor/foundation.min.js' %}"></script>

<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell">
            <div class="float-right">
                <a href="{% url 'account_logout' %}">{% trans 'logout' %}</a>
            </div>
            <h1>dino</h1>
            <nav>
                <ul class="breadcrumbs">
                    <li><a href="/">{% trans "Home" context "nagivation" %}</a></li>
                    {% for crumb in breadcrumbs %}
                    <li>
                        {% if crumb.url and not forloop.last %}
                        <a href="{{ crumb.url }}">{{ crumb.crumb }}</a>
                        {% else %}
                        {{ crumb.crumb }}
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </nav>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <div class="callout {{ message.tags }}">
                    <p>{{ message }}</p>
                </div>
                {% endfor %}
            </ul>
            {% endif %}
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
