{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="{% static 'style/zoneeditor.css' %}">
<link rel="stylesheet" href="{% static 'vendor/foundation.min.css' %}">
<script src="{% static 'vendor/foundation.min.js' %}"></script>

<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell">
            <div class="float-right">
                <a href="{% url 'account_logout' %}">logout</a>
            </div>
            <h1>dino</h1>
            <nav>
                <ul class="breadcrumbs">
                    <li><a href="/">Home</a></li>
                    {% block breadcrumbs %}{% endblock %}
                </ul>
            </nav>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <div class="callout {{ message.tags }}">
                    <p>{{ message }}</p>
                </div>
                {% endfor %}
            </ul>
            {% endif %}
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
