{% extends 'base.html' %}

{% block breadcrumbs %}
<li><a href="{% url 'zoneeditor:zone_list' %}">Zones</a></li>
<li>{{ zone_name }}</li>
<li>Records</li>
{% endblock %}

{% block content %}
<div class="grid-x grid-margin-x">
    <form method="GET" class="cell small-12 medium-10">{{ search_form.as_p }}</form>
    <a href="{% url 'zoneeditor:zone_record_create' zone=zone %}" class="button success cell align-self-bottom small-12 medium-2">Create Record</a>
</div>
<table>
    <thead>
        <tr>
            <th width="200">Type</th>
            <th width="200">Name</th>
            <th width="200">Content</th>
            <th width="200">TTL</th>
        </tr>
    </thead>
    <tbody>
        {% for rr in objects %}
        <tr>
            <td>{{ rr.rtype }}</td>
            <td>{{ rr.name }}</td>
            <td>{{ rr.content }}</td>
            <td>{{ rr.ttl }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p>Showing {{ count_shown }} of {{ count_all }} records.</p>
{% endblock %}
