{% extends 'base.html' %}

{% block breadcrumbs %}
<li><a href="{% url 'zoneeditor:zone_list' %}">Zones</a></li>
{% endblock %}

{% block content %}
<div class="grid-x grid-margin-x">
    <form method="GET" class="cell small-12 medium-10">{{ search_form.as_p }}</form>
    <a href="{% url 'zoneeditor:zone_create' %}" class="button success cell align-self-bottom small-12 medium-2">Create Zone</a>
</div>
<table>
    <thead>
        <tr>
            <th width="200">Name</th>
        </tr>
    </thead>
    <tbody>
        {% for zone in objects %}
        <tr>
            <td>
                <a href="{% url 'zoneeditor:zone_detail' zone=zone.name %}">{{ zone.name }}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p>Showing {{ count_shown }} of {{ count_all }} zones.</p>
{% endblock %}
