{% extends 'base.html' %}

{% block breadcrumbs %}
<li><a href="{% url 'zoneeditor:zone_list' %}">Zones</a></li>
<li>{{ zone_name }}</li>
<li>Records</li>
{% endblock %}

{% block content %}
<form method="GET">{{ search_form.as_p }}</form>
<table>
    <thead>
        <tr>
            <th width="200">Type</th>
            <th width="200">Name</th>
            <th width="200">Content</th>
            <th width="200">TTL</th>
        </tr>
    </thead>
    <tbody>
        {% for rr in objects %}
        <tr>
            <td>{{ rr.rtype }}</td>
            <td>{{ rr.name }}</td>
            <td>{{ rr.content }}</td>
            <td>{{ rr.ttl }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p>Showing {{ count_shown }} of {{ count_all }} records.</p>
{% endblock %}
