{% extends 'base.html' %}

{% block breadcrumbs %}
<li><a href="{% url 'zoneeditor:zone_list' %}">Zones</a></li>
{% endblock %}

{% block content %}
<form method="GET">{{ search_form.as_p }}</form>
<table>
    <thead>
        <tr>
            <th width="200">Name</th>
        </tr>
    </thead>
    <tbody>
        {% for zone in objects %}
        <tr>
            <td>
                <a href="{% url 'zoneeditor:zone_detail' zone=zone.name %}">{{ zone.name }}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p>Showing {{ count_shown }} of {{ count_all }} zones.</p>
{% endblock %}
