table.zoneeditor button {
    margin: 0;
    float: right;
    margin-left: 0.5rem;
}

h1 {
    margin: 0;
}

hr {
    margin-top: 0;
}

.messages {
    margin-left: 0;
}

.monospace {
    font-family: monospace;
}

button.square {
    font-size: 0.6rem;
    height: 2rem;
    width: 2rem;
}
